.header-wrap{
    height: 34px;
    padding: 0 15px;
    background-color: #f4f4f4;   
}

.header{
    position: relative;
}

.header ul li{
    display: inline-block;
    line-height: 2.5;
}

.header .right-nav{
    position: absolute;
    right: 0;
    top:0;
}